@page "/test/create"

@using DefectReporter.Shared.Models.Application
@using DefectReporter.Shared.Enums

@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<h3>Add new test</h3>

@if (message != null)
{
    <p>@message</p>
}
else
{
    <EditForm Model="test" OnValidSubmit="CreateTest">
        <div class="form-group">
            <label for="Title">Title:</label>
            <InputText id="Name" class="form-control" @bind-Value="test.TestName" required />
            <ValidationMessage For="@(() => test.TestName)" />
        </div>
        <br>
        <div class="form-group">
            <label for="TestCase">Descriptiopn:</label>
            <InputText id="TestCase" class="form-control" @bind-Value="test.TestCase" required />
            <ValidationMessage For="@(() => test.TestCase)" />
        </div>
        <br>
        <div class="form-group">
            <label for="Component">Component:</label>
            <InputSelect id="Component" class="form-control" @bind-Value="test.Component" required>
            @foreach (var enumValue in Enum.GetValues(typeof(ComponentEnum)))
            {
                <option value="@enumValue">@enumValue</option>
            }
            </InputSelect>
            <ValidationMessage For="@(() => test.Component)" />
        </div>
        <br>
        <div class="form-group">
            <label for="TypeOfTest">Type of test:</label>
            <InputSelect id="TypeOfTest" class="form-control" @bind-Value="test.TypeOfTest" required>
            @foreach (var enumValue in Enum.GetValues(typeof(TypeOfTest)))
            {
                <option value="@enumValue">@enumValue</option>
            }
            </InputSelect>
            <ValidationMessage For="@(() => test.TypeOfTest)" />
        </div>
        <br>
        <div class="form-group">
            <label for="Feature">Feature covered:</label>
            <InputSelect id="Feature" class="form-control" @bind-Value="test.FeatureId" required>
                @foreach (var feature in features)
                {
                    <option value="@feature.Id">@feature.Title</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => test.TypeOfTest)" />
        </div>
        <br>
        <div class="form-group">
            <label for="IsAutomated">Is automated: </label>
            <InputCheckbox id="IsAutomated" @bind-Value="test.IsAutomated" />
            <ValidationMessage For="@(() => test.IsAutomated)" />
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-secondary" @onclick="GoBackToIndex">Back</button>
    </EditForm>
}

@code {
    private Test test = new Test();
    private List<Feature> features = new List<Feature>();
    private string message;

    protected override async Task OnInitializedAsync()
    {
        var client = HttpClientFactory.CreateClient("DefectReporter.ServerAPI");

        try
        {
            features = await client.GetFromJsonAsync<List<Feature>>("api/test/getfeatures");
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }

    private async Task CreateTest()
    {
        var client = HttpClientFactory.CreateClient("DefectReporter.ServerAPI");

        var response = await client.PostAsJsonAsync("/api/test/createTest", test);

        if (response.IsSuccessStatusCode)
        {
            message = await response.Content.ReadAsStringAsync();
        }
        else
        {
            message = "Failed to add test.";
        }
    }

    private void GoBackToIndex()
    {
        NavigationManager.NavigateTo("/test/index");
    }
}